@import "tailwindcss";

@theme {
    --color-accent: #e94560;
    --color-accent-hover: #c73652;
}

body, #root {
    height: 100dvh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
